#conseling {
    background-color: rgb(88, 90, 85);
    padding-left: 20px;
    padding-right: 10px;
    position: absolute;
    top: 205px;
    left: 305px;
    width: 70%;
    height: 125px;
}
#conseling strong {
    color: rgb(151, 153, 155);
}
#conseling p {
    white-space: nowrap;
	color: rgb(181, 183, 185);
}

#forgot {
    background-color: rgb(88, 90, 85);
    position: absolute;
    top: 340px;
    left: 305px;
    width: 350px;
	margin-bottom: 150px;
}

#forgot_form {
    margin-left: 30px;
}
#forgot_form h5 {
    font-size: 15px;
    color: rgb(181, 183, 185);
}
.forg {
    color: white;
    padding-left: 10px;
    background-color: rgb(28,30,25);
    margin-top: -15px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:1px solid rgb(165, 161, 153);
    width: 200px;
    height: 25px;
}
#send_password {
    font-size: 15px;
    background-color: rgb(115,125,145);
    color: blue;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid blue;
    width: 120px;
    height: 30px;
    margin-left: 35px;
}
 @media (max-width: 900px) {
     #conseling {left:5px;width:100%;}
     #forgot {left:5px;}
 }
@media (max-width: 650px) {
    #conseling {top:265px;}
    #forgot {top: 400px;}
}
