#upload_div {
	background-color: rgb(225, 223, 211);
	position: absolute;
	top: 200px;
	left: 310px;
	width: 400px;
}
#upload_div h4 {
	color: red;
	text-align: center;
}
#uploaded-image {
	width: 320px;
	margin-left: 40px;
	margin-top: 20px;
	background-color: black;
	color: white;
}

#upload-form {
	margin-left: 30px;
}
#upload-file {
	background-color: black;
	color: white;
	width: 250px;
	height: 40px;
	font-size: 12px;
	margin-left: 40px;
}
#upload-select {
	background-color: black;
	color:white;
	font-size: 14px;
	width:100px;
	margin-left: 80px;
	margin-top: 20px;
}
@media (max-width: 900px) {
	#upload_div {left:5px;}
}
@media (max-width: 650px) {
	#upload_div {top:265px;}
}
