#about {
	background-color: rgb(88, 90, 85);
	position: absolute;
	top: 205px;
	left: 305px;
	width: 500px;
	padding-bottom: 25px;
	margin-bottom: 150px;
}
#you {
	color: rgb(181, 183, 185);
	font-size: 20px;
	margin-left: 150px;
}

.sub_title {
	font-size: 17px;
	color: rgb(181, 183, 185);
	margin-left: 80px;
}

#about-you-information {
	padding-top: 5px;
	padding-bottom: 5px;
	width: 90%;
	margin-left: 30px;
}
#about-you-information h5 {
	margin-left: 10px;
	color: rgb(181, 183, 185);
}
#about-you-information p {
	top: -38px;
	left: 150px;
	position: relative;
	padding-left: 10px;
	background-color: rgb(28,30,25);
	color: rgb(181, 183, 185);
	width: 200px;
}
.change_info {
	background-color: rgb(115, 125, 145);
	color: blue;
	border: 1px solid blue;
	margin-left: 50px;
	margin-top: -60px;
	font-size: 15px;
	height: 35px;
}

#about-you-password {
	width: 90%;
	margin-left: 30px;
	white-space: pre-line;
	height: 270px;
}
.modify {
	color: rgb(181, 183, 185);
	margin-left: 10px;
}
#change-password {
	position: relative;
	top: -263px;
	left: 200px;
}
.change-input {
	background-color: rgb(28,30,25);
	color: white;
	height: 25px;
	width: 160px;
	border: none;
	margin-top: 48px;
	padding-left: 10px;
}
.change-button {
	background-color: rgb(115,125,145);
	color:blue;
	margin-left: -40px;
	margin-top: 10px;
	border: 1px solid blue;
	height: 35px;
	width: 80px;
	font-size: 18px;
}
#about-you-mail {
	width: 90%;
	margin-left: 30px;
	white-space: pre-line;
	height: 230px;
}
#change-e_mail {
	position: relative;
	top: -183px;
	left: 200px;
}

#display-more-content {
	background-color: red;
	border: none;
	margin-left: 208px;
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 15px;
	height: 30px;
}


@media (max-width: 900px) {
	#about {left: 5px;}
}
@media (max-width: 650px) {
	#about {top: 265px;}
}
