body {
	background-color:rgb(150,250,190);
}

header {
  background-color:rgb(10, 10, 10);
  width: 100%;
  height: 60px;
  border-radius:0px 0px 10px 10px;
  text-align:center;
  position:fixed;
  top:0px;
  left:0px;
  z-index:1;
  overflow:hidden;
}
header h1 {
  color:red;
  font-size:40px;
  margin-top:5px;
}

#disp_menu {
  background-color: rgb(50, 50, 50);
  height: 60px;
  width: 60px;
  margin: none;
  position:fixed;
  top:70px;
  box-shadow: 0px 0px 10px 10px black;
  border-radius: 15px 20px 15px 20px;
  text-align: center;
  display: none;
}
#hidd_menu {
	background-color: rgb(50, 50, 50);
	display: none;
	border-radius: 20px 10px 20px 10px;
	box-shadow: 0px 0px 10px 10px black;
	height: 150px;
	width: 100px;
	position: fixed;
	top: 150px;
	left: 10px;
	z-index: 2;
}
#rolling-menu {
  background-color: rgb(50, 50, 50);
  height: 1000px;
  width:100px;
  border-radius:0px 20px 10px 0px;
  position:fixed;
  top:50px;
  left:0px;
  z-index:0;
  text-align:center;
}

 #log {
  background-color: rgb(100, 100, 100);
  height : 300px;
  width: 200px;
  border-radius: 50px 30px 50px 30px;
  box-shadow: 5px 5px 5px black;
  position:fixed;
  top: 80px;
  right: 50px;
}
#welcome {
  color: rgb(255,255,255);
  margin-left:25px;
}

.required {
  background-color : rgb(225,225,225);
  margin-top: 20px;
  margin-left: 15px;
}
.logref {
  margin-left: 8px;
  text-decoration: none;
}
#logout {
  border-radius: 5px;
  margin-left: 63px;
  margin-top: 15px;
}

#list_visit{
	list-style-type: none;
	position:fixed;
	left: -10px;
	text-align:center;
}

#login_form {
  margin: 30px 15px 15px 30px;
}
#sub {
  width: 60px;
  height: 20px;
  position:relative;
  top: 10px;
  left: 50px;
  border-radius: 7px 7px 7px 7px;
}
#subscr {
  text-decoration: none;
  font-size:13px;
  margin-left:25px;
}
#forg {
  text-decoration: none;
  font-size:13px;
  margin-left:25px;
}
footer {
  background-color: rgb(130, 130, 130);
  width:100%;
  position: fixed;
  bottom: 0px;
  left:0px;
  height: 60px;
  border-radius: 20px 10px 0px 0px;
}
 @media only screen and (max-width: 900px) {
   #rolling-menu {display:none;}
   #disp_menu {display:block;}
 }
