body {
	background-color:rgb(40,44,52);
}

header {
	background-color:rgb(255, 255, 255);
	width: 100%;
	height: 70px;
	text-align:center;
	position:fixed;
	top:0px;
	left:0px;
	z-index:1;
}
header h1 {
	overflow:hidden;
	color:red;
	font-size:40px;
	margin-top:9px;
	height:46px;
}

#disp_menu {
	background-color: rgb(235, 231, 223);
	z-index: 1;
	height: 60px;
	width: 60px;
	position:fixed;
	top:5px;
	box-shadow: 0px 0px 2px 2px rgb(185, 181, 173);
	border-radius: 15px 20px 15px 20px;
	text-align: center;
	display: none;
}
#hidd_menu {
	background-color: rgb(235, 231, 223);
	display: none;
	border-radius: 15px 25px 15px 25px;
	box-shadow: 0px 0px 2px 2px rgb(185, 181, 173);
	height: 160px;
	width: 70px;
	position: fixed;
	top: 70px;
	left: 5px;
	z-index: 2;
}
#rolling-menu {
	background-color: rgb(235, 231, 223);
	padding-top: 50px;
	height: 500px;
	width:100px;
	border-radius:0px 20px 10px 0px;
	position:fixed;
	top:50px;
	left:0px;
	z-index:0;
}
.menu_list {
	list-style-type: none;
	text-align:center;
}
.menu_ul {
	width: 80%;
	background-color: rgb(185, 181, 173);
	border-radius: 20px 20px 3px 3px;
	border-bottom: 1px solid rgb(135, 131, 123);
	padding-left: 10px;
}
.menu_link {
	color:red;
	text-decoration: none;
}

#disp_log {
	background-color: rgb(165, 161, 153);
	z-index: 1;
	height: 60px;
	width: 60px;
	position:fixed;
	top:5px;
	left: 80px;
	box-shadow: 0px 0px 2px 2px rgb(115, 111, 103);
	border-radius: 15px 20px 15px 20px;
	text-align: center;
	display:none;
}
#log {
	border: 2px solid white;
	border-radius: 0px 25px 15px 25px;
	background-color: rgb(165, 161, 153);
	height : 200px;
	width: 200px;
	position:relative;
	top:65px;
	left:95px;
}

.required {
	background-color : rgb(225,225,225);
	margin-top: 20px;
	margin-left: 15px;
}
.logref {
  margin-left: 8px;
  text-decoration: none;
}
#logout {
  border-radius: 5px;
  margin-left: 63px;
  margin-top: 15px;
}

#login_form {
  margin: 30px 15px 15px 30px;
}
#sub {
  width: 60px;
  height: 20px;
  position:relative;
  top: 10px;
  left: 50px;
  border-radius: 7px 7px 7px 7px;
}
#subscr {
  text-decoration: none;
  font-size:13px;
  margin-left:25px;
}
#forg {
  text-decoration: none;
  font-size:13px;
  margin-left:25px;
}
footer {
  background-color: rgb(130, 130, 130);
  width:100%;
  position: fixed;
  bottom: 0px;
  left:0px;
  height: 60px;
  border-radius: 20px 10px 0px 0px;
}

@media only screen and (max-width: 900px) {
	#rolling-menu {display:none;}
	#disp_menu {display:block;}
	#log {left:0px;}
 }
@media only screen and (max-width: 500px) {
	#log {display:none;}
	#disp_log {display:block;}
	header {padding-left:145px;text-align:initial;}
}
