body {
	background-color:black;
	overflow:scroll;
}

header {
	background-color:rgb(255, 255, 255);
	width: 100%;
	height: 70px;
	text-align:center;
	position: absolute;
	top:0px;
	left:0px;
	z-index:1;
}
header h1 {
	overflow:hidden;
	color:red;
	font-size:40px;
	margin-top:9px;
	height:46px;
}

#disp_menu {
	background-color: rgb(235, 231, 223);
	z-index: 1;
	height: 70px;
	width: 70px;
	position:absolute;
	top:0px;
	left:0px;
	text-align: center;
	display: none;
}
#hidd_menu {
	background-color: rgb(235, 231, 223);
	display: none;
	height: 160px;
	width: 70px;
	position: absolute;
	top: 70px;
	left: 0px;
	z-index: 2;
}
#rolling-menu {
	background-color: rgb(235, 231, 223);
	padding-top: 50px;
	height: 500px;
	width:100px;
	border-radius:0px 20px 10px 0px;
	position:absolute;
	top:50px;
	left:0px;
	z-index:0;
}
.menu_ul {
	background-color: rgb(0, 0, 0);
	padding-left: 10px;
}
.menu_ul li {
	padding-bottom: 10px;
	width: 100%;
	list-style-type: none;
	text-align:center;
	border-bottom: 1px solid rgb(124, 231, 223);
}

.menu_link {
	color:red;
	text-decoration: none;
}

#disp_log {
	background-color: rgb(165, 161, 153);
	z-index: 1;
	height: 70px;
	width: 70px;
	position:absolute;
	top:0px;
	left: 70px;
	text-align: center;
	display:none;
}
#log {
	z-index: 1;
	background-color: rgb(165, 161, 153);
	height : 200px;
	width: 200px;
	position:relative;
	top:62px;
	left:92px;
}
#log_form {
	position: relative;
	top: 17px;
}
.input_login {
	color: white;
	padding-left: 10px;
	background-color:black;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:1px solid rgb(165, 161, 153);
	width: 70%;
	height: 25px;
	margin-left: 30px;
}
#log p {
	color: red;
	margin-top: 0px;
	font-size: 20px;
	position: relative;
	top: 10px;
	left: 5px;
}
.logref {
	text-decoration: none;
	margin-left: 30px;
}
#log button {
	font-size: 15px;
    background-color:red;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    border:none;
    width: 120px;
    height: 30px;
    margin-left: 35px;
}

#wordfromdev {
	padding: 7px 10px 7px 20px;
	z-index: -1;
	position: absolute;
	width: 70%;
	top: 75px;
	left: 305px;
	background-color: rgb(185, 181, 173);
}
#wordfromdev p {
	color: red;

}

footer {
  background-color: rgb(130, 130, 130);
  width:100%;
  position: fixed;
  top : 1200px;
  left:0px;
  height: 60px;
  border-radius: 20px 10px 0px 0px;
}
@media only screen and (max-width: 1100px) {
	#wordfromdev p {width:600px;}
}
@media only screen and (max-width: 900px) {
	#rolling-menu {display:none;}
	#disp_menu {display:block;}
	#disp_log {display:block;}
	#log {display:none;
		left:0px;margin-left:-8px;}
	#wordfromdev {left:5px; width: 98%;}

}
@media only screen and (max-width: 650px) {
	#wordfromdev {
		width: 100%;
		height: 170px;
	}
	#wordfromdev p {width: 320px;
		height: 150px;
		overflow: hidden;
	}
}
@media only screen and (max-width: 500px) {
	header {padding-left:145px;text-align:initial;}
}
