#div_form_sub {
	margin-bottom: 150px;
	position: absolute;
	top: 200px;
	left: 310px;
	width: 600px;
	height: 300px;
	border: 3px solid rgb(181, 185, 183);
	background-color: rgb(88, 90, 85);
}
#h3text {
	background-color: rgb(28,30,25);
	width: 80%;
	margin-left: 55px;
	border-radius: 50px 50px 50px 50px;
	margin-top: 5px;
	font-size: 25px;
	text-align: center;
	color: rgb(181, 185, 183);
}
#div_form_sub h5 {
	width: 135px;
	color: rgb(181, 185, 183);
	margin-left: 10px;
	font-size:15px;
}
#sub_form {
	width: 200px;
	margin-left: 150px;
	margin-top: -170px;
}
.sub {
	color: rgb(181, 185, 183);
	background-color: rgb(28, 30, 25);
	border-top: none;
	border-left: none;
	border-right: none;
	margin-bottom: 10px;
	border-bottom: 1px solid rgb(145, 141, 133);
	width: 180px;
	height:30px;
}
#submit {
	font-size: 15px;
    background-color: rgb(115, 125, 145);
	border: 1px solid blue;
	color: blue;
	width: 80px;
	height: 30px;
	margin-left: 50px;
}
#meme {
	margin-left: 400px;
	margin-top: -200px;
}
@media (max-width: 900px) {
	#div_form_sub {left:5px; top: 200px;}
}
@media (max-width: 650px) {
	#div_form_sub {top: 265px;}
}
@media (max-width: 400px) {
	#div_form_sub {
		width: 400px;
	}
	#div_form_sub h5 {
		display:none;
	}
	#sub_form {
		margin-top: -2px;
		margin-left: 5px;
	}
	#meme {
		margin-left: 220px;
		margin-top: -200px;
	}
}
